*,*::before,*:after{
    margin:0;
    padding:0;
}
body{
    background:white;
    padding:0px;
    /* position:relative; */
    
   
}
.wrapper{
    position:relative;
    border:2px solid blue;
    margin:10px;
    background:purple;
}
.wrapper .menu_bar .fa-solid{
    padding-right:10px;
    
}

.menu_bar{
    text-align: right;
    padding:5px;
    /* background: purple; */
    margin:20px;
}
.menu_bar a{
    text-decoration: none;
    margin:5px;
    border-right: 3px solid blue;
    padding:5px;
    color:white;
    font-weight: bolder;
    margin-bottom: none;
    padding-bottom: none;
}
.menu_bar  .active{
    color:yellow;
}
.menu_bar a:hover{
    color:gold;
}  

.body{
    border:2px solid blue;
    margin:30px;
    padding:3px;
    width:100vh;
    align-items: center;
    justify-content: center;
    margin-left:20%;
    margin-top:-1%;
    height:90%;
    background: radial-gradient(blueviolet, black);
    border-radius: 0 20px;
}
.subbody{    
    margin:30px;
    padding:40px;
    height:70%;
    background:rgb(223, 216, 216);
    border:5px groove gold;
    border-radius: 20px 0;
    padding-bottom: 3%;
    padding-top: 2%;
}
.body .subbody form h1{
    text-align: center;
    margin-bottom:10px;
    color:white;
    background:purple;
    border-radius: 50%;
    border:5px groove blueviolet;
}
.body .subbody form label{
    font-weight: bolder;
}
.body .subbody form input{
    width:60%;
    height:60%;
    margin-bottom: 15px;
    background:white;
    border-top:none;
    border:3px groove;
    box-shadow:2px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}
.body .subbody form textarea{
    width:70%;
    height:50vh;
    margin-left:10%;
    border-radius: 0 10px;
    box-shadow:5px 3px;
    border:5px groove;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    
}
.body .subbody form input:last-child{
    width:10%;    
    padding:10px;
    border-radius: 10px;
    margin-left:73%;
    margin-top:10px;
    margin-bottom: 0;
    font-weight: normal;

}
.body .subbody form input:last-child:hover{
    background:radial-gradient(blue, purple);
    color:white;
    transition:2s ease;
    font-weight: bolder;    
}
footer{
    background:red;
}
/* footer i{
    color:white;
    margin:20px;
    margin-left:300%;
} */

/*************************** MEDIA QUERRY SECTION *********************/
@media screen and (max-width:1200px){
    body{
        background:white;
        padding:0px;       
    }
    .wrapper{
        position:relative;
        border:2px solid blue;
        margin:10px;
        background:purple;
    }    
    .menu_bar{
        text-align: center;
        padding:5px;
        /* background: purple; */
        margin:20px;
    }       
    .body{
        border:2px solid blue;
        margin:10px;
        padding:3px;
        width:59vh;
        align-items: center;
        justify-content: center;
        margin-left:20%;
        margin-top:-1%;
        height:90%;
        background: radial-gradient(blueviolet, black);
        border-radius: 0 20px;
    }
    .subbody{    
        margin:30px;
        padding:40px;
        height:70%;
        background:rgb(223, 216, 216);
        border:5px groove gold;
        border-radius: 20px 0;
        padding-bottom: 3%;
        padding-top: 2%;
    }
    .body .subbody form h1{
        text-align: center;
        margin-bottom:10px;
        color:white;
        background:purple;
        border-radius: 50%;
        border:5px groove blueviolet;
    }
    .body .subbody form label{
        font-weight: bolder;
    }
    .body .subbody form input{
        width:60%;
        height:60%;
        margin-bottom: 15px;
        background:white;
        border-top:none;
        border:3px groove;
        box-shadow:2px 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight:bold;
    }
    .body .subbody form textarea{
        width:90%;
        height:50vh;
        margin-left:10%;
        border-radius: 0 10px;
        box-shadow:5px 3px;
        border:5px groove;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight:bold;
        
    }
    .body .subbody form input:last-child{
        width:20%;    
        padding:10px;
        border-radius: 10px;
        margin-left:82%;
        margin-top:10px;
        margin-bottom: 0;
        font-weight: normal;
    
    }
    .body .subbody form input:last-child:hover{
        background:radial-gradient(blue, purple);
        color:white;
        transition:2s ease;
        font-weight: bolder;    
    }
   
}